@import "tailwindcss";

.card-item{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}
.card-item img{
    position: relative;
    top: -25px;
    width: 95%;
}

@media (max-width:768px) {
    .card-item{
        width: 60%;
    }
}
